:root.theme-dark {
  --page-bg-color: var(--black-bg-color);
  --background-image: url("../images/cover-image-dark.png");
  --title-color: var(--pink-color);
  --button-color: var(--almost-red-color);
  --border-color-opacity: #ff007066;
  --title-shadow-color: var(--almost-red-color);
  --title-decor-bg: var(--almost-red-color);
  --title-decor-color: var(--black-bg-color);
  --deco-zone-color: var(--almost-red-color);
  --deco-icon-color: var(--almost-red-color);
  --deco-icon-shadow: var(--almost-red-color);
  --section-color: var(--black-bg-color);
  --question-color: var(--almost-red-color);
  --answer-text-color: var(--almost-pink-color);
  --answer-link: var(--almost-red-color);
  --footer-title-color: var(--pink-color);
  --footer-shadow-color: var(--almost-red-color);
}
