:root.theme-light {
  --page-bg-color: var(--pink-bg-color);
  --background-image: url("../images/cover-image-light.png");
  --title-color: var(--minimal-pink-color);
  --button-color: var(--black-title-color);
  --border-color-opacity: #32312d66;
  --title-shadow-color: var(--accent-pink-color);
  --title-decor-bg: var(--accent-pink-color);
  --title-decor-color: var(--black-title-color);
  --deco-zone-color: var(--black-title-color);
  --deco-icon-color: transparent;
  --deco-icon-shadow: transparent;
  --section-color: var(--pink-bg-color);
  --question-color: var(--black-title-color);
  --answer-text-color: var(--black-title-color);
  --answer-link: var(--accent-pink-color);
  --footer-title-color: var(--minimal-pink-color);
  --footer-shadow-color: var(--accent-pink-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: var(--pink-bg-color);
    --background-image: url("../images/cover-image-light.png");
    --title-color: var(--minimal-pink-color);
    --button-color: var(--black-title-color);
    --border-color-opacity: #32312d66;
    --title-shadow-color: var(--accent-pink-color);
    --title-decor-bg: var(--accent-pink-color);
    --title-decor-color: var(--black-title-color);
    --deco-zone-color: var(--black-title-color);
    --deco-icon-color: transparent;
    --deco-icon-shadow: transparent;
    --section-color: var(--pink-bg-color);
    --question-color: var(--black-title-color);
    --answer-text-color: var(--black-title-color);
    --answer-link: var(--accent-pink-color);
    --footer-title-color: var(--minimal-pink-color);
    --footer-shadow-color: var(--accent-pink-color);
  }
}
