.page {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--page-bg-color);
  font-size: var(--font-size-base);
  font-family: var(--font-style-base);
  font-weight: bold;
  line-height: 1.3;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--title-decor-bg);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--deco-zone-color);
  border-bottom: 1px solid var(--deco-zone-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-right: 1px solid var(--deco-zone-color);
  border-top: 1px solid var(--deco-zone-color);
}

.decorated-icon {
  display: flex;
  justify-self: end;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 19px;
  gap: 10px;
}

.decorated-icon::before {
  content: "REC";
  color: var(--deco-icon-color);
  font-weight: normal;
  line-height: 25px;
}

.decorated-icon::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--deco-icon-color);
  box-shadow: 0 0 4px 2px var(--deco-icon-shadow);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  font-size: var(--font-size-base);
  line-height: 100%;
  background-color: inherit;
  color: var(--button-color);
  text-transform: lowercase;
  cursor: pointer;
  padding: 4px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__title {
  font-size: var(--hero-title-size);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.main {
  background-color: var(--section-color);
}

.section {
  display: grid;
  margin: 0 10px;
}

.section_why {
  padding-top: 40px;
}

.section_what {
  margin-top: 50px;
}

.section_how {
  margin-top: 50px;
}

.section_how .answers_blocks {
  margin-top: 20px;
}


.advice_title {
  margin-top: 20px;
  font-weight: normal;
}

.question {
  font-size: var(--font-size-base);
  line-height: 1.3;
  color: var(--question-color);
}

.answer {
  margin-top: 20px;
}

.answer_title {
  font-size: var(--font-size-base);
  margin-bottom: 10px;
}

.answer_text {
  margin-top: 10px;
  font-size: var(--font-size-base);
  font-weight: normal;
  line-height: 1.3;
  color: var(--answer-text-color);
}

.answer_link {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--answer-link);
}

.answer_link:hover {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.answer_link:focus-visible {
  outline: none;
  border: 1px solid currentColor;
}

.gallery_section {
  margin-top: 48px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.footer__title {
  font-size: var(--hero-title-size);
  line-height: 0.83;
  color: var(--footer-title-color);
  text-shadow: 2px 2px 0 var(--footer-shadow-color);
}

@media (width >=768px) {
  .header {
    min-height: 1024px;
    padding: 20px 0;
  }

  .decorated-icon {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .header__title {
    margin-left: 0;
    font-size: var(--hero-title-size);
  }

  .header__theme-menu {
    margin: auto 20px;
  }

  .header__text {
    justify-self: right;
    width: calc(50% - 20px);
    margin-right: 20px;
  }

  .section:first-child {
    padding-top: 60px;
  }

  .section {
    margin: 0 20px;
  }

  .section_two-cols {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .question_what {
    width: 30%;
    margin-bottom: 20px;
  }

  .section_how {
    margin-top: 60px;
  }

  .gallery_section {
    margin-top: 79px;
  }

  .answer_title {
    margin: 0;
  }

  .answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .answer_text {
    margin: 0;
  }

  .advice_title {
    margin-bottom: 9.97px;
  }

  .section_what {
    margin-top: 60px;
  }

  .section_how .answers_blocks {
    margin-top: 0;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .sunset_pic {
    grid-column: 1 / 3;
  }

  .ice-cream_pic {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape_pic {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .street_pic {
    grid-column: 2/4;
  }

  .footer {
    min-height: 1024px;
    margin-top: 60px;
  }
}

@media (width >=1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    height: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section_why {
    gap: 10px;
  }

  .section_what .answers_blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .section_how {
    gap: 10px;
  }

  .footer {
    min-height: 768px;
    margin-top: 60px;
  }
}