/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --black-bg-color: #000028;
  --pink-bg-color: #fff1f7;
  --black-title-color: #353430;
  --almost-red-color: #ff0070;
  --pink-color: #db00ff;
  --almost-pink-color: #f1b2ce;
  --minimal-pink-color: #ffc2e6;
  --accent-pink-color: #ff8dcb;
  --font-size-base: 18px;
  --hero-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-style-base: "IBM Plex Mono", "Arial", monospace;
  --page-bg-color: var(--black-bg-color);
  --background-image: url("../images/cover-image-dark.png");
  --title-color: var(--pink-color);
  --button-color: var(--almost-red-color);
  --border-color-opacity: #ff007066;
  --title-shadow-color: var(--almost-red-color);
  --title-decor-bg: var(--almost-red-color);
  --title-decor-color: var(--black-bg-color);
  --deco-zone-color: var(--almost-red-color);
  --deco-icon-color: var(--almost-red-color);
  --deco-icon-shadow: var(--almost-red-color);
  --section-color: var(--black-bg-color);
  --question-color: var(--almost-red-color);
  --answer-text-color: var(--almost-pink-color);
  --answer-link: var(--almost-red-color);
  --footer-title-color: var(--pink-color);
  --footer-shadow-color: var(--almost-red-color);
}

@media (width >=768px) {
  :root {
    --hero-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}