/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --black-bg-color: #000028;
  --pink-bg-color: #FFF1F7;
  --black-title-color: #353430;
  --almost-red-color: #FF0070;
  --pink-color: #DB00FF;
  --almost-pink-color: #F1B2CE;
  --minimal-pink-color: #FFC2E6;
  --accent-pink-color: #FF8DCB;
  --font-size-base: 18px;
  --font-style-base: "IBM Plex Mono", "Arial", sans-serif;
  --page-bg-color: var(--black-bg-color);
  --background-image:  url("../images/cover-image-dark.png");
  --title-color: var(--pink-color);
  --button-color: var(--almost-red-color);
  --border-color-opacity: #FF007066;
  --title-shadow-color: var(--almost-red-color);
  --header-paragraph-bg: var(--almost-red-color);
  --header-text-color: var(--black-bg-color);
  --deco-zone-color: var(--almost-red-color);
  --deco-icon-color: var(--almost-red-color);
  --deco-icon-shadow: var(--almost-red-color);
  --section-color: var(--black-bg-color);
  --question-color: var(--almost-red-color);
  --answer_title-color: var(--black-bg-color);
  --answer_bg-color: var(--almost-red-color);
  --answer-text-color: var(--almost-pink-color);
  --answer-link: var(--almost-red-color);
  --advice_bg-color: var(--almost-red-color);
  --advice-title-color: var(--black-bg-color);
  --footer-title-color: var(--pink-color);
  --footer-shadow-color: var(--almost-red-color);
}

