/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
    --black-bg-color: #000028;
    --pink-bg-color: #FFF1F7;

    --black-title-color: #353430;
    --almost-red-color: #FF0070;


    --pink-color: #DB00FF;

    
    --almost-pink-color: #F1B2CE;
    --minimal-pink-color: #FFC2E6;
    --accent-pink-color: #FF8DCB;


    --font-size-base: 18px;
    --font-style-base: "IBM Plex Mono", "Arial", sans-serif;

}

